.articles{
	.tiles{
		li{
			position:relative;width:100%;padding:0;margin:0 0 30px 0;
			.tile, .thumbnail{@include round-corners;border:1px solid $gray-lightest;}
			.tile{
				background-color:$white;padding:1.25%;
				&:hover{@include drop-shadow};
			}
			.thumbnail{
				max-width:100%;height:0;padding-bottom:20%;overflow:hidden;
				background-size:cover;position:relative;
				.title{
					background: rgba(255, 255, 255, .8);position:absolute;bottom:0;width:100%;
					h3, h4{padding-left:10px;color:$black;text-align:left;}
					h3{padding-top:6px;line-height:28px;font-weight:bold;text-transform:capitalize;}
					h4{padding-bottom:8px;margin:0;}
				}
			}
			.type{
				text-align:right;
				h3{display:inline-block;margin-right:5px;font-size:14px;}
				p{display:inline-block;}
			}
			a{text-decoration:none;}
			h4{font-size:13px;margin:3px 0 0 8%;}
		}
	}
}
#article{
	.post{
		padding-top:30px;
		.articleHead{
			height:300px;overflow:hidden;
			background-size:cover;background-repeat:no-repeat;
			h1, h4{padding-left:10px;background: rgba(255, 255, 255, .8);color:$black;}
			h1{padding-top:10px;line-height:40px;}
			h4{padding-bottom:10px;}
		.headContent{padding:140px 0 0 0;}
		}
		.articleByLine{padding:5px 10px 0 10px;color:$gray-light;}
		.articleBody{
			padding:0 10px;
			h3, h4, h5{font-weight:bold;}
			h3{text-transform:capitalize;color:$blue-light;padding:20px 0 0 0;}
			h4{line-height:40px;}
			h5{font-style:italic;}
		}
		.chart{
			.chartRight{float:right;}
			.chartLeft{float:left;}
			.chartFullWidth{
				img{margin:20px 0;width:100%;text-align:center;}
			}
		}
	}
}
