$black:					#5f5f5f;
$white:					#fff;
$cream:					#FFFFFC;
$gray: 					lighten($black,20%);
$gray-light: 		lighten($black,30%);
$gray-lighter: 	lighten($black,50%);
$gray-lightest: lighten($black,70%);
$gray-backer: 	lighten($black,83%);

$blue:					#325576;
$blue-light: 		lighten($blue,30%);
$blue-lighter: 	lighten($blue,40%);
$blue-lightest: lighten($blue,50%);

$green:					#f1f6f7;
