.ribbon{
	height:50px;border-bottom:1px solid $gray-lightest;padding:5px 0;
	.logo{
		float:left;
		img{margin:0 0 0 10px;}
		.mast{vertical-align:super;padding:0 0 0 6px;color:$gray-lighter;}
		a{text-decoration:none;}
	}
	.mainNav{
		float:right;margin:-36px 0 0 0;
		a{
			margin:0 12px 0 0;text-decoration:none;text-transform:capitalize;
			font-size:$p-base;line-height:$p-base;color:$gray-lighter;
		}
		#home{
			&:hover{border-bottom:3px solid $blue-light;}
		}
		#work{
			&:hover{border-bottom:3px solid $blue-lighter;}
		}
		#about{
			&:hover{border-bottom:3px solid $blue-lightest;}
		}
	}
}
