body{font-family: 'Lato', sans-serif;background-color:$white;}
a{color:$blue;}

.centered{
	h1,h2,h3,p{text-align:center;} 
}

#home{
	section{margin:0 0 40px 0;padding:0 10%;}
	h1{padding-top:20px;line-height:1.25;}
	ol{margin-top:13px;}
	.portfolio,.articles{background-color:$blue-backer;}
	.content{background-color:$white;}
}
