#home{
	section{
		margin:0 0 40px 0;padding:0 10%;
		&:nth-child(3){padding:0;margin-bottom:0;}
	}
	h1{padding-top:20px;line-height:1.25;text-transform:capitalize;}
	ol{padding:13px 0;}
	.portfolio,.articles{background-color:$blue-backer;}
	.content{background-color:$white;}
}
#intro{
	padding:70px 0 0 0;
	h1,h2,h3{text-align:left;}
	h3{line-height:10.75px;}
	p{text-align:right;margin-top:24px;color:$gray-light;}
}
#about{
	h4{text-align:center;margin-top:12px;}
}
.skill{
	padding:20px 5%;text-align:center;
	img{width:65%;}
	h4{text-transform:capitalize;}
	.psmall{text-align:left;font-weight:300;line-height:16.85px;}
}
.fullBleed{
	.heroImg{
		height:50vh;
		background-size:cover;	
		h3{padding:20px 10%;margin-left:5%;line-height:1.55;color:$white;opacity:0.6;}
		.headline{padding-left:20px;}
	}
}
