/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Layout */
/* Device Breakpoints */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

/* line 20, ../sass/_typography.scss */
a:link {
  border: none;
}

/* line 52, ../sass/_typography.scss */
h1, h2, h3, h4, h5, p {
  color: #5f5f5f;
}

/* line 53, ../sass/_typography.scss */
h1 {
  font-size: 38px;
  line-height: 2;
}

/* line 54, ../sass/_typography.scss */
h2 {
  font-size: 26px;
  line-height: 1.8;
}

/* line 55, ../sass/_typography.scss */
h3 {
  font-size: 20px;
  line-height: 1.6;
}

/* line 56, ../sass/_typography.scss */
h4 {
  font-size: 18px;
  line-height: 1.5;
}

/* line 57, ../sass/_typography.scss */
h5 {
  font-size: 17px;
  line-height: 1.45;
}

/* line 58, ../sass/_typography.scss */
p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25;
}

/* line 59, ../sass/_typography.scss */
.psmall {
  font-size: 14px;
  line-height: 14.5px;
}

/* line 60, ../sass/_typography.scss */
blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #9ebbd6;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px;
}

/* line 61, ../sass/_typography.scss */
.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic;
}

/* line 1, ../sass/_adobeCases.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 2, ../sass/_adobeCases.scss */
html, body {
  height: auto;
}

/* line 3, ../sass/_adobeCases.scss */
.header {
  height: 30px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  -moz-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  -webkit-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  position: fixed;
}
/* line 8, ../sass/_adobeCases.scss */
.header .navIcon {
  margin: 5px 10px;
  color: #ababab;
  font-size: 14px;
}

/* line 10, ../sass/_adobeCases.scss */
.wrapper {
  float: left;
}

/* line 11, ../sass/_adobeCases.scss */
#panel-wrap {
  float: left;
  margin: 50px 20px 0 10px;
  width: 250px;
}

/* line 16, ../sass/_adobeCases.scss */
#panel {
  font-size: 12px;
  border-right: 1px solid white;
  background-color: white;
  float: left;
  width: 250px;
  display: block;
  overflow: hidden;
}
/* line 24, ../sass/_adobeCases.scss */
#panel p {
  margin: 8px 0 0 0;
}
/* line 25, ../sass/_adobeCases.scss */
#panel a {
  display: block;
  text-decoration: none;
  line-height: 20px;
  color: #ababab;
}
/* line 27, ../sass/_adobeCases.scss */
#panel a:last-child {
  border-top: 1px solid white;
  margin: 12px 0 0 0;
  width: 80%;
}
/* line 28, ../sass/_adobeCases.scss */
#panel a:hover {
  text-decoration: underline;
  color: #7aa2c7;
}

/* line 31, ../sass/_adobeCases.scss */
.useCase {
  margin: 40px 0 0 0;
  padding: 0 20px 0 0;
  overflow: hidden;
}
/* line 35, ../sass/_adobeCases.scss */
.useCase h3, .useCase h4, .useCase h5 {
  font-weight: normal;
}
/* line 36, ../sass/_adobeCases.scss */
.useCase h3 {
  text-transform: capitalize;
  color: #7aa2c7;
  padding: 20px 0 0 0;
}
/* line 37, ../sass/_adobeCases.scss */
.useCase img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../sass/_adobeCases.scss */
.useCase .caption {
  margin: 18px 0 0 0;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  color: #dfdfdf;
  line-height: 16px;
}
/* line 39, ../sass/_adobeCases.scss */
.useCase ul {
  margin: 0 20px;
}
/* line 40, ../sass/_adobeCases.scss */
.useCase li {
  line-height: 24px;
  list-style-type: disc;
}

/* line 1, ../sass/_layout.scss */
body {
  font-family: 'Lato', sans-serif;
  background-color: white;
}

/* line 2, ../sass/_layout.scss */
a {
  color: #325576;
}

/* line 3, ../sass/_layout.scss */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  background-color: white;
}

/* line 6, ../sass/_layout.scss */
#article .post {
  padding: 260px 0 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 7, ../sass/_layout.scss */
#article .articleHeadline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 0 0 60px 0;
}
/* line 10, ../sass/_layout.scss */
#article .articleHeadline h1, #article .articleHeadline h4 {
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.75);
  color: #5f5f5f;
}
/* line 11, ../sass/_layout.scss */
#article .articleHeadline h1 {
  padding-top: 10px;
  line-height: 40px;
}
/* line 12, ../sass/_layout.scss */
#article .articleHeadline h4 {
  padding-bottom: 10px;
}
/* line 14, ../sass/_layout.scss */
#article .articleBody {
  margin: 0 10px;
  padding: 20px 0 100px 0;
  color: #5f5f5f;
}
/* line 16, ../sass/_layout.scss */
#article .articleBody h3, #article .articleBody h4, #article .articleBody h5 {
  font-weight: bold;
}
/* line 17, ../sass/_layout.scss */
#article .articleBody h3 {
  text-transform: capitalize;
  color: #7aa2c7;
}
/* line 18, ../sass/_layout.scss */
#article .articleBody h4 {
  line-height: 40px;
}
/* line 19, ../sass/_layout.scss */
#article .articleBody h5 {
  font-style: italic;
}
/* line 22, ../sass/_layout.scss */
#article .chart .chartRight {
  float: right;
}
/* line 23, ../sass/_layout.scss */
#article .chart .chartLeft {
  float: left;
}
/* line 24, ../sass/_layout.scss */
#article .chart .chartFullWidth {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 26, ../sass/_layout.scss */
#article .chart .chartFullWidth img {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

/* line 32, ../sass/_layout.scss */
#about .aboutBody {
  margin: 0 10px;
  padding: 20px 10px 100px 10px;
  color: #5f5f5f;
}
/* line 34, ../sass/_layout.scss */
#about .aboutBody h4 {
  font-weight: bold;
}

/* line 3, ../sass/_pattern.scss */
#pattern section {
  color: #5f5f5f;
  margin: 0;
  padding: 10px;
}
/* line 5, ../sass/_pattern.scss */
#pattern section .sectionTitle {
  margin: 0 0 10px 0;
  color: #325576;
  border-bottom: 1px solid white;
}
/* line 6, ../sass/_pattern.scss */
#pattern section .sectionNumber {
  color: #dfdfdf;
  margin: 0 4px 0 0;
}
/* line 7, ../sass/_pattern.scss */
#pattern section div {
  margin: 0;
}
/* line 9, ../sass/_pattern.scss */
#pattern section div:nth-child(2) {
  font-weight: 400;
}
/* line 10, ../sass/_pattern.scss */
#pattern section div:nth-child(3) {
  font-weight: 700;
}
/* line 11, ../sass/_pattern.scss */
#pattern section div:nth-child(4) {
  font-weight: 300;
}
/* line 14, ../sass/_pattern.scss */
#pattern section .patternBlacks div {
  display: inline-block;
  margin: 0;
  padding: 20px;
  height: 20px;
  width: 20px;
}
/* line 16, ../sass/_pattern.scss */
#pattern section .patternBlacks div:nth-child(0) {
  background-color: #5f5f5f;
}
/* line 17, ../sass/_pattern.scss */
#pattern section .patternBlacks div:nth-child(1) {
  background-color: #929292;
}
/* line 18, ../sass/_pattern.scss */
#pattern section .patternBlacks div:nth-child(2) {
  background-color: #ababab;
}
/* line 19, ../sass/_pattern.scss */
#pattern section .patternBlacks div:nth-child(3) {
  background-color: #dfdfdf;
}
/* line 20, ../sass/_pattern.scss */
#pattern section .patternBlacks div:nth-child(4) {
  background-color: white;
}
/* line 24, ../sass/_pattern.scss */
#pattern section .patternBlues div {
  display: inline-block;
  margin: 0;
  padding: 20px;
  height: 20px;
  width: 20px;
}
/* line 26, ../sass/_pattern.scss */
#pattern section .patternBlues div:nth-child(0) {
  background-color: #325576;
}
/* line 27, ../sass/_pattern.scss */
#pattern section .patternBlues div:nth-child(1) {
  background-color: #7aa2c7;
}
/* line 28, ../sass/_pattern.scss */
#pattern section .patternBlues div:nth-child(2) {
  background-color: #9ebbd6;
}
/* line 29, ../sass/_pattern.scss */
#pattern section .patternBlues div:nth-child(3) {
  background-color: #c2d4e5;
}
