html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Layout */
/* Device Breakpoints */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
a:link {
  border: none; }

h1, h2, h3, h4, h5, p {
  color: #5f5f5f; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #9ebbd6;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

body {
  font-family: 'Lato', sans-serif; }

html, body {
  height: auto; }

.header {
  height: 30px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  -moz-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  -webkit-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
  position: fixed; }
  .header .navIcon {
    margin: 5px 10px;
    color: #ababab;
    font-size: 14px; }

.wrapper {
  float: left; }

#panel-wrap {
  float: left;
  margin: 50px 20px 0 10px;
  width: 250px; }

#panel {
  font-size: 12px;
  border-right: 1px solid white;
  background-color: white;
  float: left;
  width: 250px;
  display: block;
  overflow: hidden; }
  #panel p {
    margin: 8px 0 0 0; }
  #panel a {
    display: block;
    text-decoration: none;
    line-height: 20px;
    color: #ababab; }
    #panel a:last-child {
      border-top: 1px solid white;
      margin: 12px 0 0 0;
      width: 80%; }
    #panel a:hover {
      text-decoration: underline;
      color: #7aa2c7; }

.useCase {
  margin: 40px 0 0 0;
  padding: 0 20px 0 0;
  overflow: hidden; }
  .useCase h3, .useCase h4, .useCase h5 {
    font-weight: normal; }
  .useCase h3 {
    text-transform: capitalize;
    color: #7aa2c7;
    padding: 20px 0 0 0; }
  .useCase img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .useCase .caption {
    margin: 18px 0 0 0;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #dfdfdf;
    line-height: 16px; }
  .useCase ul {
    margin: 0 20px; }
  .useCase li {
    line-height: 24px;
    list-style-type: disc; }

body {
  font-family: 'Lato', sans-serif;
  background-color: white; }

a {
  color: #325576; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  background-color: #fff; }

#article .post {
  padding: 260px 0 0 0;
  background-size: 100%;
  background-repeat: no-repeat; }
#article .articleHeadline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 0 0 60px 0; }
  #article .articleHeadline h1, #article .articleHeadline h4 {
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.75);
    color: #5f5f5f; }
  #article .articleHeadline h1 {
    padding-top: 10px;
    line-height: 40px; }
  #article .articleHeadline h4 {
    padding-bottom: 10px; }
#article .articleBody {
  margin: 0 10px;
  padding: 20px 0 100px 0;
  color: #5f5f5f; }
  #article .articleBody h3, #article .articleBody h4, #article .articleBody h5 {
    font-weight: bold; }
  #article .articleBody h3 {
    text-transform: capitalize;
    color: #7aa2c7; }
  #article .articleBody h4 {
    line-height: 40px; }
  #article .articleBody h5 {
    font-style: italic; }
#article .chart .chartRight {
  float: right; }
#article .chart .chartLeft {
  float: left; }
#article .chart .chartFullWidth {
  display: inline-block;
  width: 100%;
  text-align: center; }
  #article .chart .chartFullWidth img {
    margin: 20px 0;
    width: 100%;
    text-align: center; }

#about .aboutBody {
  margin: 0 10px;
  padding: 20px 10px 100px 10px;
  color: #5f5f5f; }
  #about .aboutBody h4 {
    font-weight: bold; }

#pattern section {
  color: #5f5f5f;
  margin: 0;
  padding: 10px; }
  #pattern section .sectionTitle {
    margin: 0 0 10px 0;
    color: #325576;
    border-bottom: 1px solid white; }
  #pattern section .sectionNumber {
    color: #dfdfdf;
    margin: 0 4px 0 0; }
  #pattern section div {
    margin: 0; }
    #pattern section div:nth-child(2) {
      font-weight: 400; }
    #pattern section div:nth-child(3) {
      font-weight: 700; }
    #pattern section div:nth-child(4) {
      font-weight: 300; }
  #pattern section .patternBlacks div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern section .patternBlacks div:nth-child(0) {
      background-color: #5f5f5f; }
    #pattern section .patternBlacks div:nth-child(1) {
      background-color: #929292; }
    #pattern section .patternBlacks div:nth-child(2) {
      background-color: #ababab; }
    #pattern section .patternBlacks div:nth-child(3) {
      background-color: #dfdfdf; }
    #pattern section .patternBlacks div:nth-child(4) {
      background-color: white; }
  #pattern section .patternBlues div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern section .patternBlues div:nth-child(0) {
      background-color: #325576; }
    #pattern section .patternBlues div:nth-child(1) {
      background-color: #7aa2c7; }
    #pattern section .patternBlues div:nth-child(2) {
      background-color: #9ebbd6; }
    #pattern section .patternBlues div:nth-child(3) {
      background-color: #c2d4e5; }
