html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Layout */
/* Device Breakpoints */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
a:link {
  border: none; }

h1, h2, h3, h4, h5, p {
  color: #5f5f5f; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #9ebbd6;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

.ribbon {
  height: 50px;
  border-bottom: 1px solid white;
  padding: 5px 0; }
  .ribbon .logo {
    float: left; }
    .ribbon .logo img {
      margin: 0 0 0 10px; }
    .ribbon .logo .mast {
      vertical-align: super;
      padding: 0 0 0 6px;
      color: #dfdfdf; }
    .ribbon .logo a {
      text-decoration: none; }
  .ribbon .mainNav {
    float: right;
    margin: -36px 0 0 0; }
    .ribbon .mainNav a {
      margin: 0 12px 0 0;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 12.25;
      line-height: 12.25;
      color: #dfdfdf; }
    .ribbon .mainNav #home:hover {
      border-bottom: 3px solid #7aa2c7; }
    .ribbon .mainNav #work:hover {
      border-bottom: 3px solid #9ebbd6; }
    .ribbon .mainNav #about:hover {
      border-bottom: 3px solid #c2d4e5; }

body {
  font-family: 'Lato', sans-serif;
  background-color: white; }

a {
  color: #325576; }

.centerWrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px; }

#article .post .articleHead {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat; }
  #article .post .articleHead h1, #article .post .articleHead h4 {
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #5f5f5f; }
  #article .post .articleHead h1 {
    padding-top: 10px;
    line-height: 40px; }
  #article .post .articleHead h4 {
    padding-bottom: 10px; }
  #article .post .articleHead .headContent {
    padding: 140px 0 0 0; }
#article .post .articleByLine {
  padding: 5px 10px 0 10px;
  color: #ababab; }
#article .post .articleBody {
  padding: 0 10px; }
  #article .post .articleBody h3, #article .post .articleBody h4, #article .post .articleBody h5 {
    font-weight: bold; }
  #article .post .articleBody h3 {
    text-transform: capitalize;
    color: #7aa2c7;
    padding: 20px 0 0 0; }
  #article .post .articleBody h4 {
    line-height: 40px; }
  #article .post .articleBody h5 {
    font-style: italic; }
#article .post .chart .chartRight {
  float: right; }
#article .post .chart .chartLeft {
  float: left; }
#article .post .chart .chartFullWidth img {
  margin: 20px 0;
  width: 100%;
  text-align: center; }

@media screen and (max-width: 640px) {
  .centerWrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px; }

  h1 {
    font-size: 34.2px;
    line-height: 1.8; }

  h2 {
    font-size: 23.4px;
    line-height: 1.62; }

  h3 {
    font-size: 18px;
    line-height: 1.44; }

  h4 {
    font-size: 16.2px;
    line-height: 1.35; }

  h5 {
    font-size: 15.3px;
    line-height: 1.305; }

  p {
    font-size: 14.4px;
    line-height: 1.715; }

  .articleHead h1 {
    padding-top: 10px; }
  .articleHead h4 {
    padding-bottom: 10px; }
  .articleHead .headContent {
    padding: 100px 0 0 0; } }
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 47.5px;
    line-height: 2.5; }

  h2 {
    font-size: 32.5px;
    line-height: 2.25; }

  h3 {
    font-size: 25px;
    line-height: 2.0; }

  h4 {
    font-size: 22.5px;
    line-height: 1.875; }

  h5 {
    font-size: 21.25px;
    line-height: 1.8125; }

  p {
    font-size: 20px;
    line-height: 1.5925; }

  .articleHead h1 {
    padding-top: 10px; }
  .articleHead h4 {
    padding-bottom: 10px; }
  .articleHead .headContent {
    padding: 100px 0 0 0; } }
#list .contentSummary {
  padding: 34px 0;
  clear: both; }
  #list .contentSummary .metaData {
    padding: 0 10px 0 0;
    width: 95px;
    position: absolute;
    display: inline-block;
    border-right: 1px solid white;
    text-align: right; }
    #list .contentSummary .metaData h3 {
      color: #dfdfdf; }
  #list .contentSummary .summaryVisual {
    margin: 0 0 0 120px;
    display: inline-block;
    width: 90%;
    height: 120px;
    background-size: cover;
    border-top: 1px solid #dfdfdf; }
    #list .contentSummary .summaryVisual h3, #list .contentSummary .summaryVisual h4 {
      padding-left: 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #5f5f5f; }
    #list .contentSummary .summaryVisual h3 {
      padding-top: 6px;
      line-height: 28px;
      font-weight: bold; }
    #list .contentSummary .summaryVisual h4 {
      padding-bottom: 8px; }
    #list .contentSummary .summaryVisual .summaryTitle {
      padding: 53px 0 0 0; }

@media screen and (max-width: 640px) {
  .centerWrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px; }

  #list .contentSummary {
    padding: 15px; }
    #list .contentSummary .metaData {
      width: 100%;
      position: inherit;
      border: none; }
      #list .contentSummary .metaData h3, #list .contentSummary .metaData h5, #list .contentSummary .metaData p {
        display: inline-block;
        padding: 0 0 0 4px; }
      #list .contentSummary .metaData h3 {
        font-size: 98%; }
      #list .contentSummary .metaData p {
        line-height: 0; }
    #list .contentSummary .summaryVisual {
      margin: 0;
      display: block;
      width: 100%; }
      #list .contentSummary .summaryVisual h3 {
        padding-top: 6px;
        line-height: 28px;
        font-weight: bold; }
      #list .contentSummary .summaryVisual h4 {
        padding-bottom: 8px; }
      #list .contentSummary .summaryVisual .summaryTitle {
        padding: 53px 0 0 0; }
    #list .contentSummary a {
      text-decoration: none; } }
#pattern section {
  color: #5f5f5f;
  margin: 0;
  padding: 10px; }
  #pattern section .sectionTitle {
    margin: 0 0 10px 0;
    color: #325576;
    border-bottom: 1px solid white; }
  #pattern section .sectionNumber {
    color: #dfdfdf;
    margin: 0 4px 0 0; }
  #pattern section div {
    margin: 0; }
    #pattern section div:nth-child(2) {
      font-weight: 400; }
    #pattern section div:nth-child(3) {
      font-weight: 700; }
    #pattern section div:nth-child(4) {
      font-weight: 300; }
  #pattern section .patternBlacks div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern section .patternBlacks div:nth-child(0) {
      background-color: #5f5f5f; }
    #pattern section .patternBlacks div:nth-child(1) {
      background-color: #929292; }
    #pattern section .patternBlacks div:nth-child(2) {
      background-color: #ababab; }
    #pattern section .patternBlacks div:nth-child(3) {
      background-color: #dfdfdf; }
    #pattern section .patternBlacks div:nth-child(4) {
      background-color: white; }
  #pattern section .patternBlues div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern section .patternBlues div:nth-child(0) {
      background-color: #325576; }
    #pattern section .patternBlues div:nth-child(1) {
      background-color: #7aa2c7; }
    #pattern section .patternBlues div:nth-child(2) {
      background-color: #9ebbd6; }
    #pattern section .patternBlues div:nth-child(3) {
      background-color: #c2d4e5; }
