html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Layout */
/* Device Breakpoints */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
a:link {
  border: none; }

h1, h2, h3, h4, h5, p {
  color: #5f5f5f; }

h1, h2, h3, h4, h5 {
  font-weight: 300; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.46;
  font-weight: 300; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #9ebbd6;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff; }

a {
  color: #325576; }

.centered h1, .centered h2, .centered h3, .centered p {
  text-align: center; }

.col2, .col3, .col4, .colWide, .colNarrow {
  float: left; }

.col4 {
  width: 24.9999%; }

.col3 {
  width: 32.999%; }

.col2 {
  width: 49.999%; }

.colWide {
  width: 68.999%; }

.colNarrow {
  width: 30.999%; }

.ribbon {
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  background-color: #7aa2c7;
  z-index: 1; }
  .ribbon .logo {
    float: left; }
    .ribbon .logo img {
      margin: 0 0 0 10px; }
    .ribbon .logo .mast {
      vertical-align: super;
      padding: 0 0 0 6px;
      color: #fff;
      letter-spacing: .75px; }
    .ribbon .logo a {
      text-decoration: none; }
  .ribbon .mainNav {
    float: right;
    margin: -36px 0 0 0; }
    .ribbon .mainNav a {
      margin: 0 12px 0 0;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 12.46;
      line-height: 12.46;
      color: #dfdfdf; }
    .ribbon .mainNav #home:hover {
      border-bottom: 3px solid #7aa2c7; }
    .ribbon .mainNav #work:hover {
      border-bottom: 3px solid #9ebbd6; }
    .ribbon .mainNav #about:hover {
      border-bottom: 3px solid #c2d4e5; }

#home section {
  margin: 0 0 40px 0;
  padding: 0 10%; }
  #home section:nth-child(3) {
    padding: 0;
    margin-bottom: 0; }
#home h1 {
  padding-top: 20px;
  line-height: 1.25;
  text-transform: capitalize; }
#home ol {
  padding: 13px 0; }
#home .portfolio, #home .articles {
  background-color: #e9f0f6; }
#home .content {
  background-color: #fff; }

#intro {
  padding: 70px 0 0 0; }
  #intro h1, #intro h2, #intro h3 {
    text-align: left; }
  #intro h3 {
    line-height: 10.75px; }
  #intro p {
    text-align: right;
    margin-top: 24px;
    color: #ababab; }

#about h4 {
  text-align: center;
  margin-top: 12px; }

.skill {
  padding: 20px 5%;
  text-align: center; }
  .skill img {
    width: 65%; }
  .skill h4 {
    text-transform: capitalize; }
  .skill .psmall {
    text-align: left;
    font-weight: 300;
    line-height: 16.85px; }

.fullBleed .heroImg {
  height: 50vh;
  background-size: cover; }
  .fullBleed .heroImg h3 {
    padding: 20px 10%;
    margin-left: 5%;
    line-height: 1.55;
    color: #fff;
    opacity: 0.6; }
  .fullBleed .heroImg .headline {
    padding-left: 20px; }

.portfolio .tiles li {
  position: relative;
  width: 30.555555555556%;
  float: left;
  padding: 0;
  margin: 0 4.166666666667% 30px 0; }
  .portfolio .tiles li:nth-child(3n) {
    margin-right: 0; }
  .portfolio .tiles li .tile, .portfolio .tiles li .thumbnail {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid whitesmoke; }
  .portfolio .tiles li .tile {
    background-color: #fff;
    padding: 8%;
    position: relative;
    clear: left; }
    .portfolio .tiles li .tile:hover {
      border-bottom: 1px solid #dfdfdf;
      -moz-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
      -webkit-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
      box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3); }
  .portfolio .tiles li .thumbnail {
    max-width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    background-size: cover; }
  .portfolio .tiles li .type {
    text-align: right; }
  .portfolio .tiles li a {
    text-decoration: none; }
  .portfolio .tiles li h4 {
    font-size: 13px;
    margin: 3px 0 0 8%; }

#bubble .tiles ol {
  margin: auto; }
#bubble .tiles li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 4.166666666667% 30px 0;
  text-align: center; }
  #bubble .tiles li .tile {
    width: 50px;
    height: 50px;
    background: #999;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid whitesmoke;
    clear: left;
    background-size: cover; }
  #bubble .tiles li .psmall {
    display: inline-block;
    margin: 2px 0 5px 0; }
  #bubble .tiles li .dim {
    opacity: 0.4; }
    #bubble .tiles li .dim:hover {
      opacity: 0.8; }

.articles .tiles li {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 0 30px 0; }
  .articles .tiles li .tile, .articles .tiles li .thumbnail {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid whitesmoke; }
  .articles .tiles li .tile {
    background-color: #fff;
    padding: 1.25%; }
    .articles .tiles li .tile:hover {
      border-bottom: 1px solid #dfdfdf;
      -moz-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
      -webkit-box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3);
      box-shadow: 0px 3px 5px 5px rgba(182, 182, 182, 0.3); }
  .articles .tiles li .thumbnail {
    max-width: 100%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    background-size: cover;
    position: relative; }
    .articles .tiles li .thumbnail .title {
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 0;
      width: 100%; }
      .articles .tiles li .thumbnail .title h3, .articles .tiles li .thumbnail .title h4 {
        padding-left: 10px;
        color: #5f5f5f;
        text-align: left; }
      .articles .tiles li .thumbnail .title h3 {
        padding-top: 6px;
        line-height: 28px;
        font-weight: bold;
        text-transform: capitalize; }
      .articles .tiles li .thumbnail .title h4 {
        padding-bottom: 8px;
        margin: 0; }
  .articles .tiles li .type {
    text-align: right; }
    .articles .tiles li .type h3 {
      display: inline-block;
      margin-right: 5px;
      font-size: 14px; }
    .articles .tiles li .type p {
      display: inline-block; }
  .articles .tiles li a {
    text-decoration: none; }
  .articles .tiles li h4 {
    font-size: 13px;
    margin: 3px 0 0 8%; }

#article .post {
  padding-top: 30px; }
  #article .post .articleHead {
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat; }
    #article .post .articleHead h1, #article .post .articleHead h4 {
      padding-left: 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #5f5f5f; }
    #article .post .articleHead h1 {
      padding-top: 10px;
      line-height: 40px; }
    #article .post .articleHead h4 {
      padding-bottom: 10px; }
    #article .post .articleHead .headContent {
      padding: 140px 0 0 0; }
  #article .post .articleByLine {
    padding: 5px 10px 0 10px;
    color: #ababab; }
  #article .post .articleBody {
    padding: 0 10px; }
    #article .post .articleBody h3, #article .post .articleBody h4, #article .post .articleBody h5 {
      font-weight: bold; }
    #article .post .articleBody h3 {
      text-transform: capitalize;
      color: #7aa2c7;
      padding: 20px 0 0 0; }
    #article .post .articleBody h4 {
      line-height: 40px; }
    #article .post .articleBody h5 {
      font-style: italic; }
  #article .post .chart .chartRight {
    float: right; }
  #article .post .chart .chartLeft {
    float: left; }
  #article .post .chart .chartFullWidth img {
    margin: 20px 0;
    width: 100%;
    text-align: center; }

.footer {
  background-color: #7aa2c7;
  padding-top: 20px; }
  .footer .end {
    text-align: center;
    background-color: #325576;
    height: 60px; }
    .footer .end .psmall {
      line-height: 56px;
      color: #ababab;
      font-weight: 300; }
  .footer .col3 {
    margin-bottom: 20px; }
  .footer p {
    color: #fff;
    opacity: 0.7; }
  .footer a {
    margin-bottom: 6px; }

#pattern {
  background-color: #fff; }
  #pattern section {
    color: #5f5f5f;
    margin: 0;
    padding: 10px; }
    #pattern section .sectionTitle {
      margin: 0 0 10px 0;
      color: #325576;
      border-bottom: 1px solid whitesmoke; }
    #pattern section .sectionNumber {
      color: #dfdfdf;
      margin: 0 4px 0 0; }
    #pattern section div {
      margin: 0; }
      #pattern section div:nth-child(2) {
        font-weight: 400; }
      #pattern section div:nth-child(3) {
        font-weight: 700; }
      #pattern section div:nth-child(4) {
        font-weight: 300; }
  #pattern .patternBlacks div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern .patternBlacks div:nth-child(0) {
      background-color: #5f5f5f; }
    #pattern .patternBlacks div:nth-child(1) {
      background-color: #929292; }
    #pattern .patternBlacks div:nth-child(2) {
      background-color: #ababab; }
    #pattern .patternBlacks div:nth-child(3) {
      background-color: #dfdfdf; }
    #pattern .patternBlacks div:nth-child(4) {
      background-color: whitesmoke; }
  #pattern .patternBlues div {
    display: inline-block;
    margin: 0;
    padding: 20px;
    height: 20px;
    width: 20px; }
    #pattern .patternBlues div:nth-child(0) {
      background-color: #325576; }
    #pattern .patternBlues div:nth-child(1) {
      background-color: #7aa2c7; }
    #pattern .patternBlues div:nth-child(2) {
      background-color: #9ebbd6; }
    #pattern .patternBlues div:nth-child(3) {
      background-color: #c2d4e5; }
    #pattern .patternBlues div:nth-child(4) {
      background-color: #e9f0f6; }
